@model Department
@{
    ViewData["Title"] = "Delete";
}


<form asp-action="Delete">
    <input type="hidden" asp-for="DepartmentId" />
    <div class="card">
        <div class="card-header" style="background-color:#ffd868;">
            <h3>Are you sure to delete this?</h3>
        </div>
        <div class="card-body" style="background-color:#7fcd91;">
            <h5 class="card-title">Delete department with related data</h5>
            <h5 class="card-subtitle'">
                Departmet Id: @Model.DepartmentId<br />
                Departmet Name: @Model.DepartmentName
            </h5>
            <p class="card-link">
                <button type="submit" class="btn btn-danger btn-sm"><i class="fa fa-trash"> Delete</i></button>
            </p>
            <a href="@Url.Action("Index","Departments")" class="card-link">Back to list</a>
        </div>
    </div>
</form>

