@model ContactualStaff
@{
    ViewData["Title"] = "Create";
}

<h4>Add Contactual Staff</h4>
<form asp-action="Create">
    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
    <div class="form-group row">
        <label asp-for="ContactualStaffName" class="col-form-label col-form-label-sm col-2 text-right"></label>
        <div class="col-4">
            <input asp-for="ContactualStaffName" class="form-control form-control-sm" />
            <span asp-validation-for="ContactualStaffName" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="StartDate" class="col-form-label col-form-label-sm col-2 text-right"></label>
        <div class="col-4">
            <input type="text" asp-for="StartDate" class="form-control form-control-sm" />
            <span asp-validation-for="StartDate" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label asp-for="WeeklySalary" class="col-form-label col-form-label-sm col-2 text-right"></label>
        <div class="col-4">
            <input asp-for="WeeklySalary" class="form-control form-control-sm" />
            <span asp-validation-for="WeeklySalary" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-form-label col-form-label-sm text-right col-2">Departments</label>
        <div class="col-4">
            <select class="form-control"
                    asp-for="DepartmentId"
                    asp-items="@(new SelectList(ViewBag.DeptList, "DepartmentId","DepartmentName"))">
                <option value="">- Select -</option>
            </select>
            <span asp-validation-for="DepartmentId" class="text-danger"></span>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3 offset-2">
            <button type="submit" class="btn btn-success btn-sm"><span class="fa fa-save"> Save</span></button>
        </div>
    </div>
    <div class="form-group row">
        <div class="col-3 offset-2">
            <a asp-action="Index" class="btn btn-light btn-sm" asp-controller="Departments">Back to List</a>
        </div>
    </div>
</form>
@section styles{
    <environment include="Development">
        <link href="~/libs/gijgo/combined/css/gijgo.css" rel="stylesheet" />
    </environment>
}
@section scripts{
    <environment include="Development">

        <script src="~/libs/validation/jquery.validate.js"></script>
        <script src="~/libs/validation/jquery.validate.unobtrusive.js"></script>
        <script src="~/libs/gijgo/combined/js/gijgo.js"></script>
        <script>
            $('#StartDate').datepicker({
            uiLibrary: 'bootstrap4',
            format: "yyyy-mm-dd"
        });
        </script>
    </environment>
}

